<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Risk Assessment</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .background-image {
        background: url("../assets/background.jpg") no-repeat center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }
      .content {
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <div class="background-image">
      <div class="overlay"></div>
      <div
        class="content text-center text-white bg-black bg-opacity-60 p-6 rounded-lg"
      >
        <h1 class="text-4xl font-bold mb-4">Credit Risk Assessment</h1>
        <p class="mb-6">
          Create a machine learning model to assess credit risk and predict loan
          defaults, enhancing lending decisions.
        </p>

        <a
          href="/form"
          class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
          >Get Started</a
        >
      </div>
    </div>
  </body>
</html>
